<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Page with a valid markup</title>
  </head>
  <body>
    <article>
      <h1>Angelika's Star Trek series ranking</h1>
      <ol>
        <li>Star Trek: Deep Space Nine</li>
        <li>Star Trek: The Next Generation</li>
        <li>Star Trek: Strange New Worlds</li>
        <li>Star Trek: Voyager</li>
        <li>Star Trek: Enterprise</li>
        <li>Star Trek: The Original Series</li>
        <li>The Orville <sup><a href="#orville-explanation">[1]</a></sup></li>
        <li>Star Trek: Discovery</li>
        <li>Star Trek: Picard</li>
      </ol>

      <p id="#orville-explanation">
        [1] While I am aware that The Orville is not technically part of the Star Trek universe,
        it is better at capturing what makes Star Trek <em>Star Trek</em>
        and telling interesting stories
        than the most recent attempts at rebooting the series, Discovery and Picard.
      </p>
    </article>
  </body>
</html>
